@model IEnumerable<PersonModel>

<h1>People</h1>
<div>@Html.ActionLink("add new", "Add")</div>

@foreach (var p in Model)
{
    <ul>
        <li>ID: @p.Id</li>
        <li>Name: @p.Name</li>
        <li>BirthDate: @p.BirthDate</li>
    </ul>
}
